<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Décotest</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="decollage/decollage.css") }}">
    <script src="{{ url_for("static", filename="decollage/decollage2.js") }}"></script>
</head>
<body onload="initRocket()">
</body>
</html>