#rocket{
    position: fixed;
    width: min-content;
    display: flex;
    flex-direction: column;
}

#rocket > img{
    height: 10vh;
    width: auto;
}

#countdown{
    position: fixed;
    color: red;
    display: flow;
    width: 100vw;
}

#countdown > *{
    text-align: center;
    font: 50vh Consolas;
}

.rocket-particle{
    position: fixed;
    height: 2vh;
    width: auto;
}